<div class="container-fluid">
  <div class="row bg-verde-amorim">
    <div class="col-12 titulo-principal">
      <div class="center2">Global</div>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col titulo-secundario">
      <div class="center2">Periodo: 12-10-2019 - 19-10-2019</div>
    </div>
    <div class="col titulo-secundario">
      <div class="center2">Turno: turno 2</div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm col-md-4 text-center">
      <div class="row">
        <div class="col-12 titulo">Produção</div>
        <app-apexchart
          *ngIf="!esperarCarregar"
          [options]="optionsProducao"
          [name]="'chart'"
          class="col-12">
          <div id="chart"></div>
        </app-apexchart>
        <div class="col-12 text-center">
          <table
            mat-table
            [dataSource]="producao"
            class="mat-elevation-z8
            mx-auto
            tabela">
            <ng-container matColumnDef="classificacao">
              <th mat-header-cell class="text-left px-2" *matHeaderCellDef>
                Classificação
              </th>
              <td mat-cell class="text-left px-2" *matCellDef="let element">
                {{ element.classificacao }}
              </td>
            </ng-container>
            <ng-container matColumnDef="quantidade">
              <th mat-header-cell class="text-right px-2" *matHeaderCellDef>
                Quantidade
              </th>
              <td mat-cell class="text-right px-2" *matCellDef="let element">
                {{ element.quantidade }}
              </td>
            </ng-container>
            <ng-container matColumnDef="percentagem">
              <th mat-header-cell class="text-right px-2" *matHeaderCellDef>
                %
              </th>
              <td mat-cell class="text-right px-2" *matCellDef="let element">
                {{ element.percentagem }}%
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="colunasProducao"></tr>
            <tr mat-row *matRowDef="let row; columns: colunasProducao"></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-4 text-center">
      <div class="row">
        <div class="col-12 titulo">Tempos</div>
        <app-apexchart
          *ngIf="!esperarCarregar"
          [options]="optionsTempos"
          [name]="'chart3'"
          class="col-12">
          <div id="chart3"></div>
        </app-apexchart>
        <div class="col-12 text-center">
          <table
            mat-table
            [dataSource]="tempos"
            class="mat-elevation-z8
            mx-auto
            tabela">
            <ng-container matColumnDef="descritivo">
              <th mat-header-cell class="text-left px-2" *matHeaderCellDef>
                Descritivo
              </th>
              <td mat-cell class="text-left px-2" *matCellDef="let element">
                {{ element.descritivo }}
              </td>
            </ng-container>
            <ng-container matColumnDef="tempo">
              <th mat-header-cell class="text-right px-2" *matHeaderCellDef>
                Tempo
              </th>
              <td mat-cell class="text-right px-2" *matCellDef="let element">
                {{ element.tempo }}
              </td>
            </ng-container>
            <ng-container matColumnDef="percentagem">
              <th mat-header-cell class="text-right px-2" *matHeaderCellDef>
                %
              </th>
              <td mat-cell class="text-right px-2" *matCellDef="let element">
                {{ element.percentagem }}%
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="colunasTempos"></tr>
            <tr mat-row *matRowDef="let row; columns: colunasTempos"></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-4 text-center">
      <div class="col-12 titulo">Distribuição mV</div>
      <app-apexchart
        *ngIf="!esperarCarregar"
        [options]="optionsDistribuicao"
        [name]="'chart2'"
        class="col-12">
        <div id="chart2"></div>
      </app-apexchart>
    </div>
  </div>
  <div class="row border-top mt-5">
    <div class="col-sm col-md-6 text-center mt-1 border-right">
      <div>informação corporativa</div>
    </div>
    <div class="col-sm col-md-6 text-center mt-1">
      <div>outro tipo de informação</div>
    </div>
  </div>
</div>
