@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  overflow: hidden;
}

.bg-verde-amorim {
  background-color: #0b6252;
  height: 1.5rem;
}

a:hover {
  color: rgb(36, 116, 182);
}

.container-fluid {
  background-color: #e2e1e1;
  padding: 1px;
}
tr.mat-header-row {
  height: 20px !important;
}

tr.mat-row {
  height: 20px !important;
}
.mat-cell {
  font-size: 1rem;
}

.mat-header-cell {
  font-size: 1.2rem;
}

.tabela {
  width: auto;
}

.titulo {
  font-size: 1rem;
  font-weight: 500;
  color: #0b6252;
}
.titulo-principal {
  font-size: 1.5rem;
  font-weight: 900;
  background-color: #0b6252;
  color: #ffffff;
  height: 50px;
}
.titulo-secundario {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0b6252;
  /* height: 40px; */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
