<div [ngSwitch]="id">
  <!-- <app-total *ngSwitchCase="1" [periodo]="50" [turno]="'turno 1'"></app-total> -->
  <app-linha *ngSwitchCase="2"></app-linha>
  <!-- <app-lote *ngSwitchCase="3"></app-lote> -->
  <div *ngSwitchDefault>
    ecrã não configurado
  </div>
</div>
