<div class="row bg-verde-amorim">
  <div class="col titulo-principal h-100">
    <div class="center2 text-nowrap">Linha {{ idLinha }}</div>
  </div>
  <div class="col-1 titulo-principal h-50">
    <button
      *ngIf="!isfullscreen"
      mat-button
      (click)="openFullscreen()"
      class="center2"
    >
      abrir fullscreen
    </button>
    <button
      *ngIf="isfullscreen"
      mat-button
      (click)="closeFullscreen()"
      class="center2"
    >
      sair fullscreen
    </button>
  </div>
  <div class="col-md-8 titulo-principal h-100">
    <div class="center2 text-nowrap">
      De {{ horaInicial }} a {{ horaFinal }}
    </div>
  </div>
  <div class="col titulo-principal h-100">
    <div class="center2 text-nowrap">Turno 2</div>
  </div>
</div>
<div class="container-fluid" *ngIf="!esperarCarregar">
  <div class="row m-1 h-50">
    <mat-card class="col p-1 mr-0.5">
      <div class="row m-1 align-items-center text-nowrap">
        <div class="col titulo-secundario mb-3 text-center">Produção</div>
        <table
          [dataSource]="dadosTabela"
          mat-table
          class="mat-elevation-z1
          mx-10
          tabela
          col-50"
        >
          <ng-container matColumnDef="produto">
            <th
              mat-header-cell
              class="text-center px-2 text-nowrap"
              *matHeaderCellDef
            >
              produto
            </th>
            <td
              mat-cell
              class="text-center px-2 text-nowrap"
              *matCellDef="let element"
            >
              {{ element.produto }}
            </td>
          </ng-container>
          <ng-container matColumnDef="total">
            <th
              mat-header-cell
              class="text-center px-2 text-nowrap"
              *matHeaderCellDef
            >
              total
            </th>
            <td
              mat-cell
              class="text-center px-2 text-nowrap"
              *matCellDef="let element"
            >
              {{ element.total }}
            </td>
          </ng-container>
          <ng-container matColumnDef="percentagem">
            <th
              mat-header-cell
              class="text-center px-2 text-nowrap"
              *matHeaderCellDef
            >
              %
            </th>
            <td
              mat-cell
              class="text-center px-2 text-nowrap"
              *matCellDef="let element"
            >
              {{ element.percentagem | number: '2.1-2' }}%
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="colunasTabelaProducao"></tr>
          <tr mat-row *matRowDef="let row; columns: colunasTabelaProducao"></tr>
        </table>
      </div>
      <app-apexchart
        #chartProducao
        [options]="optionsProducao"
        [name]="'chart'"
        class="w-100 h-100"
      >
        <div id="chart"></div>
      </app-apexchart>
    </mat-card>

    <mat-card class="col ml-1 p-1">
      <div class="row m-1 mb-4 align-items-center flex-nowrap">
        <div class="col titulo-secundario mb-3 text-center">Paragem</div>
        <table
          [dataSource]="dataSource"
          mat-table
          class="mat-elevation-z1
          mx-10
          tabela
          col"
        >
          <ng-container
            *ngFor="let modulo of colunasTabelaParagem; let i = index"
            matColumnDef="{{ colunasTabelaParagem[i] }}"
          >
            <th
              mat-header-cell
              class="text-center px-2 text-nowrap"
              *matHeaderCellDef
            >
              {{ colunasTabelaParagem[i] }}
            </th>
            <td
              mat-cell
              class="text-center px-2 text-nowrap"
              *matCellDef="let element"
            >
              {{
                (element.tempo[i] * 1000 | date: 'H:mm:ss':'UTC')
                  ? (element.tempo[i] * 1000 | date: 'H:mm:ss':'UTC')
                  : element.tempo[i]
              }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="colunasTabelaParagem"></tr>
          <tr mat-row *matRowDef="let row; columns: colunasTabelaParagem"></tr>
        </table>
      </div>
      <app-apexchart
        #chartParagem
        [options]="optionsParagem"
        [name]="'chartP'"
        class="w-100"
      >
        <div id="chartP"></div>
      </app-apexchart>
    </mat-card>
  </div>
  <ng-container *ngIf="optionsPeakValue.length > 0">
    <mat-card class="row m-1 h-50 p-1">
      <div class="col titulo-secundario text-center h-0">Peak value</div>
      <div id="chartPvContainer" class="d-flex">
        <app-apexchart
          #chartPeakValue0
          [options]="optionsPeakValue[0]"
          [name]="'chartPV0'"
          class="w-100"
        >
          <div class="col-12 text-center titulo">Módulo 54</div>
          <div
            id="chartPV0"
            class="col p-0 m-0"
            style="border-right: 0.5px
            solid"
          ></div>
        </app-apexchart>
        <app-apexchart
          #chartPeakValue1
          [options]="optionsPeakValue[1]"
          [name]="'chartPV1'"
          class="w-100"
        >
          <div class="col-12 text-center titulo">Módulo 47</div>
          <div
            id="chartPV1"
            class="col p-0 m-0"
            style="border-right: 0.5px
            solid"
          ></div>
        </app-apexchart>
        <app-apexchart
          #chartPeakValue2
          [options]="optionsPeakValue[2]"
          [name]="'chartPV2'"
          class="w-100"
        >
          <div class="col-12 text-center titulo">Módulo 60</div>
          <div
            id="chartPV2"
            class="col p-0 m-0"
            style="border-right: 0.5px
            solid"
          ></div>
        </app-apexchart>
        <app-apexchart
          #chartPeakValue3
          [options]="optionsPeakValue[3]"
          [name]="'chartPV3'"
          class="w-100"
        >
          <div class="col-12 text-center titulo">Módulo 55</div>
          <div
            id="chartPV3"
            class="col p-0 m-0"
            style="border-right: 0.5px
            solid"
          ></div>
        </app-apexchart>
        <app-apexchart
          #chartPeakValue4
          [options]="optionsPeakValue[4]"
          [name]="'chartPV4'"
          class="w-100"
        >
          <div class="col-12 text-center titulo">Módulo 14</div>
          <div
            id="chartPV4"
            class="col p-0 m-0"
            style="border-right: 0.5px
            solid"
          ></div>
        </app-apexchart>
        <app-apexchart
          #chartPeakValue5
          [options]="optionsPeakValue[5]"
          [name]="'chartPV5'"
          class="w-100"
        >
          <div class="col-12 text-center titulo">Módulo 61</div>
          <div id="chartPV5" class="col p-0 m-0"></div>
        </app-apexchart>
      </div>
    </mat-card>
  </ng-container>
</div>
